---
const tech = {
    html: "/assets/brand-html5.svg",
    css: "/assets/brand-css3.svg",
    js: "/assets/brand-javascript.svg",
    git: "/assets/brand-git.svg",
    php: "/assets/brand-php.svg",
    symfony: "/assets/brand-symfony.svg",
    tailwind: "/assets/brand-tailwind.svg",
    mysql: "/assets/brand-mysql.svg",
    codeShow: "/assets/code.svg"
}
const proyects = [
    {
        name: "Rooftop Rush",
        img: "/assets/Rooftop-Rush.png",
        tech: [tech.html, tech.css, tech.js, tech.git],
        description: "Proyecto colaborativo: mi mayor aporte es la parte visual y el movimiento de las plataformas",
        github: "https://github.com/jlld47/Roof-Rush",
        url: "https://jlld47.github.io/Roof-Rush/",
        styleNone: "m-2 flex justify-between items-center",
        display: "show-proyect"
    },
    {
        name: "GalaGame",
        img: "/assets/galagame.png",
        tech: ["/assets/brand-html5.svg", "/assets/brand-css3.svg", "/assets/brand-javascript.svg", "/assets/brand-git.svg"],
        description: "Proyecto de juego gala realizado en solitario manejo de colisiones y movimiento de personajes",
        github: "https://github.com/iDankest/GalaGame",
        url: "https://mygalagame.netlify.app/",
        styleNone: "m-2 flex justify-between items-center",
        display: "show-proyect"
    },
    {
        name: "Game Finder",
        img: "/assets/image.png",
        tech: ["/assets/brand-html5.svg", "/assets/brand-css3.svg", "/assets/brand-javascript.svg", "/assets/brand-git.svg", "/assets/brand-php.svg", "/assets/brand-symfony.svg", "/assets/brand-tailwind.svg", "/assets/brand-mysql.svg"],
        description: "Participación en proyecto web de búsqueda de videojuegos utilizando una API de Steam",
        github: "https://github.com/iDankest/Proyecto-Symfony",
        styleNone: "m-2 flex justify-center items-center",
        display: "show-proyect-none"
    }
]
---

<section>
    <h2 class="text-2xl text-center mb-10 font-bold">Proyectos destacados</h2>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
        {proyects.map(proyecto => (
        <article>
            <img class="w-full h-[10em] object-cover rounded-t-lg" src={proyecto.img} alt="Imagen del proyecto Rooftop Rush">
            <div class="tech"><ul class="flex gap-1">
                {proyecto.tech.map(tech => (
                    <li><img src={tech} alt="code"></li>
                ))}
            </ul></div>
                <div class="m-2">
                    <h3 class="text-lg font-bold" >{proyecto.name}</h3>
                    <p class="text-sm">{proyecto.description}</p>
                </div>
                <div class={proyecto.styleNone}>
                    <a href={proyecto.github} target="_blank"><img src={tech.codeShow} alt="code"></a>
                    <a class={`${proyecto.display}`} href={proyecto.url} target="_blank">Ver Proyecto</a>
                </div>
        </article>
        ))}
    </div>
</section>

<style>
    section{
        margin-top: 2em;
        width: 50vw;
    }
    article{
        
        background-color: #393d41;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
    }
    .tech{
        background-color: blueviolet;
        padding: 0.4em;
    }
    li{
        width: 25px;
        height: 25px;
    }
    img[alt="code"]:hover{
        scale: 1.2;
        transition: all 0.3s ease;
        cursor: pointer;
    }
    .show-proyect{
        background-color: blueviolet;
        padding: 0.1em;
        border-radius: 5px;
    }
    .show-proyect:hover{
        background-color: blueviolet;
        cursor: pointer;
        transition: all 0.3s ease;
        color: black;
    }
    .show-proyect-none{
        display: none;
    }
    @media (max-width: 639px) { /* sm breakpoint de Tailwind - 1px */
        section {
            width: 95vw; /* O el ancho que prefieras para móvil */
        }
        article{
            width: 90%;
            height: auto; /* Ajustar altura automáticamente en móvil */
            margin: 1em auto; /* Añadir margen superior e inferior para espaciado */
        }
    }
    </style>