---
const tech = {
    html: {name: "HTML", img: "/assets/brand-html5.svg"},
    css: {name: "CSS", img: "/assets/brand-css3.svg"},
    js: {name: "JavaScript", img: "/assets/brand-javascript.svg"},
    vue: {name: "Vue", img: "./assets/vuejs-brands-solid.svg"},
    git: {name: "Git", img: "/assets/brand-git.svg"},
    php: {name: "PHP", img: "/assets/brand-php.svg"},
    symfony: {name: "Symfony", img: "/assets/brand-symfony.svg"},
    tailwind: {name: "Tailwind", img: "/assets/brand-tailwind.svg"},
    mysql: {name: "MySQL", img: "/assets/brand-mysql.svg"},
    codeShow: {name: "Ver código", img: "/assets/code.svg"}
}
const proyects = [
    {
        name: "Rooftop Rush",
        img: "/assets/Rooftop-Rush.png",
        tech: [tech.html, tech.css, tech.js, tech.git],
        description: "Proyecto colaborativo: mi mayor aporte es la parte visual y el movimiento de las plataformas",
        github: "https://github.com/jlld47/Roof-Rush",
        url: "https://jlld47.github.io/Roof-Rush/",
        styleNone: "m-2 flex justify-between items-center",
        display: "show-proyect"
    },
    {
        name: "GalaGame",
        img: "/assets/galagame.png",
        tech: [tech.html, tech.css, tech.js, tech.git],
        description: "Proyecto de juego gala realizado en solitario manejo de colisiones y movimiento de personajes",
        github: "https://github.com/iDankest/GalaGame",
        url: "https://mygalagame.netlify.app/",
        styleNone: "m-2 flex justify-between items-center",
        display: "show-proyect"
    },
    {
        name: "Game Finder",
        img: "/assets/image.png",
        tech: [tech.html, tech.css, tech.js, tech.git, tech.php, tech.symfony, tech.tailwind, tech.mysql],
        description: "Participación en proyecto web de búsqueda de videojuegos utilizando una API de Steam",
        github: "https://github.com/iDankest/Proyecto-Symfony",
        styleNone: "m-2 flex justify-center items-center",
        display: "show-proyect-none"
    },
    {
        name: "Criptomoneda",
        img: "/assets/crypto.png",
        tech: [tech.html, tech.css, tech.js, tech.git, tech.vue],
        description: "Proyecto donde principlamente es el manejo de APIs con Vue.js con composables",
        github: "https://github.com/iDankest/crypto-vue",
        url: "https://cryptovueapi.netlify.app/",
        styleNone: "m-2 flex justify-between items-center",
        display: "show-proyect"
    },
    {
        name: "Admin Gastos",
        img: "/assets/adgastos.png",
        tech: [tech.html, tech.css, tech.js, tech.git, tech.vue],
        description: "Proyecto frontend de administración de gastos poniendo a prueba la reactividad de Vue.js",
        github: "https://github.com/iDankest/admin-gastos",
        url: "https://adgastos.netlify.app/",
        styleNone: "m-2 flex justify-between items-center",
        display: "show-proyect"
    },
    {
        name: "Tu Guitarra Online",
        img: "/assets/guitarra.png",
        tech: [tech.html, tech.css, tech.js, tech.git, tech.vue],
        description: "Tienda Online de venta de guitarras con un carrito de compras, guardado en localStorage y trabajo frontend",
        github: "https://github.com/iDankest/guitarla-vue",
        url: "https://gitardankest.netlify.app/",
        styleNone: "m-2 flex justify-between items-center",
        display: "show-proyect"
    }

]
---
<script>
    document.addEventListener('DOMContentLoaded', () => {
        // Seleccionamos todos los elementos que tienen la clase 'group'.
        // Esto incluirá tanto los <li> de las tecnologías como los <a> de 'Ver código'.
        const elementsWithTooltips = document.querySelectorAll('.group');
    
        elementsWithTooltips.forEach(wrapper => {
            const img = wrapper.querySelector('img');
            const tooltip = wrapper.querySelector('.custom-tooltip');
    
            if (img && tooltip) {
                // Obtenemos el texto del tooltip desde el atributo data-tooltip-text de la imagen
                tooltip.textContent = img.dataset.tooltipText;
            }
        });
    });
</script>

<section>
    <h2 class="text-2xl text-center mb-10 font-bold" id="proyectos">Proyectos destacados</h2>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
        {proyects.map(proyecto => (
        <article class="hover:scale-103 transition-all duration-500 ease-in-out">
            <img class="w-full h-[10em] object-cover rounded-t-lg" src={proyecto.img} alt={`Imagen del proyecto ${proyecto.name}`}>
            <div class="tech"><ul class="flex gap-1">
                {proyecto.tech.map(t => (
                    <li class="relative group cursor-help w-[25px] h-[25px] flex items-center justify-center">
                        <img src={t.img} alt={t.name} data-tooltip-text={t.name} class="code w-full h-full object-contain">
                        <span class="custom-tooltip absolute bottom-[calc(100%+5px)] left-1/2 -translate-x-1/2 translate-y-1
                                     bg-gray-800 text-white px-2 py-1 rounded-md whitespace-nowrap text-xs
                                     shadow-md z-10
                                     opacity-0 invisible transition-all duration-300 ease-in-out
                                     group-hover:opacity-100 group-hover:visible group-hover:translate-y-0">
                        </span>
                    </li>
                ))}
            </ul></div>
                <div class="m-2">
                    <h3 class="text-lg font-bold" >{proyecto.name}</h3>
                    <p class="text-sm">{proyecto.description}</p>
                </div>
                <div class={proyecto.styleNone}>
                    <a href={proyecto.github} target="_blank" class="relative group cursor-help w-[25px] h-[25px] flex items-center justify-center">
                        <img src={tech.codeShow.img} alt={tech.codeShow.name} data-tooltip-text={tech.codeShow.name} class="code w-full h-full object-contain">
                        <span class="custom-tooltip absolute bottom-[calc(100%+5px)] left-1/2 -translate-x-1/2 translate-y-1
                                     bg-gray-800 text-white px-2 py-1 rounded-md whitespace-nowrap text-xs
                                     shadow-md z-10
                                     opacity-0 invisible transition-all duration-300 ease-in-out
                                     group-hover:opacity-100 group-hover:visible group-hover:translate-y-0">
                        </span>
                    </a>
                    <a class={`${proyecto.display}`} href={proyecto.url} target="_blank">Ver Proyecto</a>
                </div>
        </article>
        ))}
    </div>
</section>

<style>
    section{
        margin-top: 2em;
        width: 50vw;
    }
    article{
        background-color: #393d41;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
    }
    .tech{
        background-color: blueviolet;
        padding: 0.4em;
    }
    /* Si quieres que el icono de código también tenga el efecto de escala al hacer hover, mantén esta regla */
    .code:hover{
        scale: 1.2;
        transition: all 0.3s ease;
        cursor: pointer;
    }
    .show-proyect{
        background-color: blueviolet;
        padding: 0.1em;
        border-radius: 5px;
    }
    .show-proyect:hover{
        background-color: blueviolet;
        cursor: pointer;
        transition: all 0.3s ease;
        color: black;
    }
    .show-proyect-none{
        display: none;
    }
    @media (max-width: 639px) { /* sm breakpoint de Tailwind - 1px */
        section {
            width: 95vw;
        }
        article{
            width: 90%;
            height: auto;
            margin: 1em auto;
        }
    }
</style>