---
const exp = [
    {
        img: '/assets/islas.jpg',
        empresa: 'ISLASSEM',
        cargo: 'Desarrollador Web',
        periodo: 'agosto 2024 - septiembre 2024',
        descripcion: 'Mantenimiento de páginas web',
        tareas: ['WordPress', 'Protección de datos', 'Cookies']
    },
    {
        img: '/assets/bitbox_it_logo.jpg',
        empresa: 'BitBox S.L',
        cargo: 'Técnico IT',
        periodo: 'marzo 2019 - noviembre 2019',
        descripcion: 'Mantenimiento de equipos informáticos',
        tareas: ['Instalación de sistemas operativos', 'HelpDesk', 'Mantenimiento de racks']
    }
]
---
<section class="flex flex-col gap-2">
    <h2 class="text-2xl font-bold text-center my-10" id="experiencia">Experiencia Profesional</h2>
    {exp.map((e) => (
        <div class="flex justify-between items-center mt-6">
            <div>
                <div class="flex items-center gap-2">
                    <img class="w-10 h-10 bg-violet-500 rounded border border-black" src="/assets/briefcase-2.svg" alt="icono">
                    <h3 class="text-xl">{e.periodo}</h3>
                </div>
                <div class="flex items-center gap-2">
                    <h4 class="font-bold">{e.empresa}</h4> - <em>{e.cargo}</em>
                </div>
                <p>{e.descripcion}</p>
                <ol>
                    {e.tareas.map((t) => (
                        <li>{t}</li>
                    ))}
                </ol>
            </div>
            <img class="w-[10em] h-[10em] rounded company-image" src={e.img} alt={`Empresa ${e.empresa}`} />
        </div>
    ))}

    <hr class="border-violet-500 border-2 mt-10">
    <h2 class="text-2xl font-bold text-center my-5">Formación Académica</h2>
    <div class="flex justify-between items-center">
        <div>
            <div class="flex items-center gap-2">
                <img class="w-10 h-10 bg-violet-500 rounded border border-black" src="/assets/school.svg" alt="icono-escuela">
                <h3 class="text-xl">agosto 2024 - febrero 2025</h3>
            </div>
            <div class="flex items-center gap-2">
                <h4 class="font-bold">Reboot Academy</h4> - <em>E-commerce</em>
            </div>
            <p>Creación de tiendas online</p>
            <ol class="flex flex-col gap-1">
                <li>HTML, CSS, JS</li>
                <li>PHP, Symfony, Tailwind</li>
                <li>MySQL, Git, GitHub, Docker</li>
                <li>WordPress, WooCommerce, Prestashop, Magento</li>
            </ol>
        </div>
        <img class="w-[10em] h-[10em] rounded" src="/assets/Reboot.png" alt="Centro Reboot Academy">
    </div>
    <div class="flex justify-between items-center mt-10">
        <div>
            <div class="flex items-center gap-2">
                <img class="w-10 h-10 bg-violet-500 rounded border border-black" src="/assets/school.svg" alt="icono-escuela">
                <h3 class="text-xl">marzo 2023 - febrero 2024</h3>
            </div>
            <div class="flex items-center gap-2">
                <h4 class="font-bold">Fuerteventura 2000</h4> - <em>Desarrollador de Aplicaciones Web</em>
            </div>
            <p>Desarrollo de aplicaciones web</p>
            <ol>
                <li>HTML, CSS, JS</li>
                <li>Angular, Node.js, Express.js</li>
                <li>MySQL, MongoDB, Git, GitHub</li>
            </ol>
        </div>
        <img class="w-[10em] h-[10em] rounded" src="/assets/f2000.jpg" alt="Centro Fuerteventura 2000">
    </div>
</section>

<style>
    section{
        margin-top: 2em;
        width: 50vw;
    }
    li {
        list-style: none;
        position: relative;
        padding-left: 1.5em;
        margin-bottom: 0.25rem;
    }
    li::before {
        content: "•";
        position: absolute;
        left: 0;
        color: white;
    }
    @media (max-width: 639px) {
        section {
            flex-direction: column;
            align-items: stretch;
            width: 95vw;
        }
        .company-image {
            width: 6em;
            height: 6em;
        }
    }
</style>